<div class="container mx-auto p-4">
  <h2 class="text-2xl font-mono mb-6 text-center">
    5-Day Forecast for {{ city }}
  </h2>
  <div class="flex justify-start mb-4">
    <p-button (onClick)="goBack()" icon="pi pi-angle-left" rounded="true"></p-button>
  </div>

  @if (loading$ | async) {
  <div class="text-center py-8">
    <p>Loading forecast...</p>
  </div>
  } @if (error$ | async; as error) {
  <div class="text-center py-8 text-red-600">
    <p>Error: {{ error }}</p>
  </div>
  } @if (groupedForecast$ | async; as groupedForecast) {
  <div class="space-y-2 shadow-xl shadow-slate-800">
    @for (day of (groupedForecast | keyvalue).sort(sortDays); track day.key) {
    <div class="rounded-lg p-6">
      <h3 class="text-xl font-mono font-semibold mb-4">{{ day.key }}</h3>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-8 gap-4">
        @for (forecast of day.value; track forecast.dt) {
        <div
          class="flex flex-col justify-between items-center p-4 rounded-lg font-mono shadow-inner shadow-slate-400/90">
          <div class="mb-2">
            <img [src]="
                'http://openweathermap.org/img/wn/' +
                forecast.weather[0].icon +
                '@2x.png'
              " [alt]="forecast.weather[0].description" class="w-8 h-8" />
          </div>
          <p class="text-sm font-medium mb-1">
            {{ forecast.dt * 1000 | date : "HH:mm" }}
          </p>
          <p class="text-lg font-bold mb-1">
            {{ forecast.main.temp | number : "1.0-0" }}°C
          </p>
          <p class="text-xs text-center">
            {{ forecast.weather[0].description }}
          </p>
        </div>
        }
      </div>
    </div>
    }
  </div>
  }
</div>
